
	
	.main_menu{
		background-color:#428BCA;
	
		/* border-bottom: 1px solid #FFF; */
}
	
	.nav_main > li:hover:not(.espace){
		background-color: #2D6CA2;
	}
	
	.nav_main > li.open{
		background-color: #2D6CA2;
	}
	.sub_menu_drop_title{
		color: #000000 !important;
	}
	.sub_menu_title{
		border-bottom: 1px #428BCA;
                border-bottom-style: solid;
		color: #428BCA !important;
	}
        .sub_menu_main_title{
		border-bottom: 1px #428BCA;
                
		border-bottom-style: groove;
		color: #428BCA !important;
	}
	
	.sub_menu_link:hover{
		background:#428BCA;
	}
	
	.sub_menu_link_span{
		color:#428BCA;
	}