

ul#menu li ul 
/*cacher tous les sous menu*/
{
	display:none;
}

/*ul#menu li:hover>ul
/*Ouvrir le menu lorsque l'on passe dessus avec firefox*/
/*{
	display:block;
}*/

ul#menu
/*Information barre des titres*/
{
	margin:0px;
	padding:0px;
	list-style:none;
	width:100%;
	/*background:#7682a3;/*url("../images/menu.gif");/*#CCCCCC*/
	float:left;
	background: #428BCA;/*#7985A6;*/
	font-size:1em;

}

ul#menu hr
/*ligne separation dans les menu*/
{
	margin-right: 4px;
	margin-left: 4px;
}

ul#menu li
/*Style pour toute les balise li du menu permet de mettre un menu horizontal*/
{
	float:left;
	display:block;
	/*padding:2px 0px;*/
}

ul#menu .mainMenu{
	background: #7a8bb7;
}

ul#menu li a.firstMenu{
	display:block;
	padding:4px 8px;
	font-weight:bold;
	color : white;
/*	background : url("../images/menu_bottom.gif") bottom repeat-x;*/
/*	border-right:1px solid #314F9F;*/
	text-decoration:none;	
}

ul#menu li a
{
	display:block;
	padding:2px 6px;
	/*color:#000000;*/
	/*border:0px solid #CCCCCC;*/
	text-decoration:none;
}

/*.firstBack*/
ul#menu li a.firstMenu:hover 
/*CADRE AUTOUR DES MENUS*/
{
	/*background:url("../images/menu_on.gif");*/
	background : #C6D1EC;
	color : black;
	/*border:1px solid ;
	border-top-color:#F0F0F0;
	border-left-color:#F0F0F0;
	border-right-color:#999999;
	border-bottom-color:#999999;*/
}

ul#menu ul
/*toute les balise ul se positionne en dessous de la fenetre parent*/
{
	position:absolute;
	background:#C6D1EC url("../images/m3.gif") repeat-y -160px 0%;
	list-style:none;
	margin:0px;
	padding:0px;
	width:160px;
	z-index:5;
	
}

ul#menu ul ul
/*permet de decaler a droite les sousmenu*/
{
	top:0px;
	left:155px;
	z-index:6;
}

ul#menu ul li
/*permet de positionner les sous menu verticalement et de positionner correctement les hr pkoi ?*/
{
	
	position:relative;
	float:none;
	margin:0px;
	padding:0px;
	display:inline;/*_devaNT ?*/
}

ul#menu ul li a
/*style appliquer sur tous les liens*/
{
	display:block;
	margin:0px;
	padding:0px;
	width:160px;
	border:none;
	color : black;
}

ul#menu ul li a span
/*rajout du curseur main */
{
	display:block;
	width:144px;
	_width:156px;
	padding:2px 6px;
	margin:0px 2px;
	border:none;
	cursor:pointer;
}

ul#menu ul li a.next span
/*menus qui ont des sous menus*/
{
	background:url("../images/fleche.gif") no-repeat 0% 50%;
}
ul#menu ul li a.next:hover span
/*action lorsque l on passe dessuschange la fleche de couleur*/
{
	background-position: -160px 50%;
}

 /*span*/

 
ul#menu ul li a:hover span
/*suirlignement lorsque lon passe sur le menu*/
{
	background-color:#B4BBCC; /*url(../images/m4.gif) repeat-y -160px 0%; /*#B4BBCC;/*url("../images/menu_on.gif");/*#E6F0FA;/*#000099;*/
	/*color:#FFFFFF;*/
	border:none;
}

ul#menu ul li.first
/*balise first des menu*/
{
	padding-left:0px;
}


/*ul#menu ul li.last
/*balise last des menu*/
/*{
	padding-right:0px;
}

ul#menu ul li.last a
{
	padding-bottom:2px;
	background:url(/OGA/images/m1.gif) no-repeat left bottom;
}*/


ul#menu li.first
/*Style de toute les premieres li des menu et sous menu*/
{
	padding-left:2px;
	color:red;
	/*background : url("../images/m4.gif") top repeat-x;*/
}

ul#menu li.last
/*Style de toute les dernieres li des menu et sous menu*/
{
	position:relative;
	float:none;
	margin:0px;
	padding:0px;
	display:inline;
}


ul#menu li.testBordureLi{
	/*background:url("../images/menu_first.gif");
	background-repeat: no-repeat;*/
/*	background : url("../images/menu_right.gif") right repeat-y;*/
}
div.top{
	/*background : url("../images/menu_top.gif") top repeat-x;*/
}