/*

Pour la fonction hide/show column, ajouter les classes "persist", "essential", "optional" pour modifier
les prioritÃ©s d'affichage en fonction du mÃ©dia au chargement de la page.

Ajouter ces classes dans les les balises <th> dans le <thead> de votre <table>

persist: n'ajoute pas de checkbox dans le menu pour cette colonne. Il ne sera donc pas possible de cacher la colonne possÃ©dant cette classe.

essential: une colonne de classe "essential" restera toujours affichÃ©e peut importe le mÃ©dia (il est possible de la masquÃ©e via le menu).

optional: une colonne de classe "optional" sera affichÃ© en mode tablette(<992px) mais masquÃ©e dans les plus petits formats (<762px) (il est possible de la masquÃ©e via le menu).

une colonne ne possÃ©dant pas ni optional, ni essential sera masquÃ©e si l'affichage n'est pas sur desktop.
*/


//Display behavior
.hideShow th,
.hideShow td {
    display: none;
}
.hideShow th.essential,
.hideShow td.essential {
    display: table-cell;
}

@media screen and (min-width: 762px) {
    .hideShow th.optional,
    .hideShow td.optional {
        display: table-cell;
    }
}

@media screen and (min-width: 992px) {
    .hideShow th,
    .hideShow td {
        display: table-cell;
    }
}

//menu layout
div.table-menu ul{
    list-style: none;
    width: 100%;    
    padding: 15px;
}
div.table-menu li{
    list-style: none;
    width: 100%;    
    margin-bottom: 10px;
    height: 20px;
}
div.table-menu li label:hover, div.table-menu li input:hover{
    cursor: pointer;
}
div.table-menu li label{
    float: left;
    display: inline-block;
}
div.table-menu li input{
    float: right;
    display: inline-block;
}

.table-menu {
    position: absolute;
    left: auto;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    width: 14em;
    z-index: 30;
    
}
.table-menu-hidden {
    left: -999em;
    right: auto;
}


//scroll table
.wrapper{
    overflow-x: scroll;
}
