table {
    width: 100%;
    font-size: 1.2em;
}

thead th {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    color: #888;
}
th, td {
    padding: .5em 1em;
    text-align: right;
}
th:first-child,
td:first-child {
    text-align: left;
}
tbody th, td {
    border-top: 1px solid #e6e6e6;
}

.enhanced th,
.enhanced td {
    display: none;
}
.enhanced th.essential,
.enhanced td.essential {
    display: table-cell;
}

@media screen and (min-width: 762px) {
    .enhanced th.optional,
    .enhanced td.optional {
        display: table-cell;
    }
}

@media screen and (min-width: 992px) {
    .enhanced th,
    .enhanced td {
        display: table-cell;
    }
}

div.submit input{
    margin-right: 5px;
    margin-bottom: 10px;
}

div.table-menu ul{
    list-style: none;
    width: 100%;    
    padding: 15px;
}
div.table-menu li{
    width: 100%;    
    margin-bottom: 10px;
    height: 20px;
}
div.table-menu li label{
    float: left;
    display: inline-block;
}
div.table-menu li input{
    float: right;
    display: inline-block;
}

.table-menu {
    position: absolute;
    left: auto;
    background-color: #fff;
    padding: 0;
    border: 1px solid #ccc;
    font-size: 1.2em;
    width: 14em;
}
.table-menu-hidden {
    left: -999em;
    right: auto;
}

.wrapper{
    overflow-x: scroll;
}

#footer{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #E6E6E6;
     padding-top: 7px;
}

.margin{
    margin-top: 15px;
}