	.jstree-classic-context ins{
		padding-right:9px;
		padding-left:0px;
		padding-top:0px;
	}
	table.hover1 tr:hover{
		background-color:#e7f4f9;
	}
	
	table.hover1 tr:hover td{
     border-top: 1px solid #d8f0fa;
     border-bottom: 1px solid #d8f0fa;
   }
	table.hover1 tr:hover td:first-child {
     border-left: 1px solid #d8f0fa;
	}
	table.hover1 tr:hover td:last-child {
	   border-right: 1px solid #d8f0fa;
	}
	
	.stripe1{
		background-color:#F5F5F5;
	}
	.selected{
		background-color:#BEEBFF;
		
	}
	.selected td{
     border-top: 1px solid #99DEFD;
     border-bottom: 1px solid #99DEFD;
   }
	.selected td:first-child {
     border-left: 1px solid #99DEFD;
	}
	.selected td:last-child {
	   border-right: 1px solid #99DEFD;
	}
	.jstree-classic-context, 
	.jstree-classic-context li ul {
		 background:#f0f0f0; 
		 border:1px solid #979797; 
		 -moz-box-shadow: 1px 1px 2px #999; 
		 -webkit-box-shadow: 1px 1px 2px #999; 
		 box-shadow: 1px 1px 2px #999;
		left:100%;
	}
	.jstree-classic-context ul{
		margin:0; 
		padding:0; 
		list-style-type:none; 
		display:block; 
		min-width:180px;
	}

	.jstree-classic-context li { 
		position:relative; 
		line-height: 20px;
	  min-height: 20px;
		padding:0; 
		list-style-type:none; 
		display:block; 
	}
	
	.jstree-classic-context li a {
	  display: block;
	  line-height: 17px;
	  margin-bottom: 0;
	  margin-left: 1px;
	  margin-right: 1px;
	  margin-top: 1px;
	  padding-bottom: 1px;
	  padding-left: 6px;
	  padding-right: 6px;
	  padding-top: 1px;
	  text-decoration: none;
	}
	.jstree-classic-context a { color:black; }
	.jstree-classic-context a:hover, 
	.jstree-classic-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
	.jstree-classic-context li.jstree-contextmenu-disabled a, 
	.jstree-classic-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
	.jstree-classic-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
	.jstree-classic-context li ul { margin-left:-4px; }
	li.vakata-separator{min-height:0; height:1px; line-height:1px; font-size:1px; overflow:hidden; margin:0 2px; background:silver; /* border-top:1px solid #fefefe; */ padding:0; }
	li.vakata-separator2{min-height:0; height:1px; line-height:1px; font-size:1px; overflow:hidden; margin:0 2px; background:none; /* border-top:0px solid #fefefe; */ padding:0; }
	.jstree-classic-context{z-index:10000;}
