#recherche{
    margin-top: 25px;
    margin-bottom: 25px;
    width:100%;

    .submit{
        margin-top: 20px;
        input{
            margin-right: 5px;
        }
    }
}

#resultat{
    margin: 0 auto;
    width: 100%;
}

.select-column{
    margin-bottom: 10px;
    text-align: right;
    @media only screen and (max-width: 768px){
        text-align:left;
    }
}
.label-tab{
    top: 10px;
    @media only screen and (max-width: 768px){
        top: 0px;
    }
}

.table-wrapper{
    overflow-x: scroll;
    display: block;
}
table{
    //table-layout: auto;
}

table:not(#footer){
    border-collapse: collapse;
    //display:table;
    tr:nth-of-type(odd){ 
        background: #eee; 
    }
    tr:hover{
        background: #CCE2FF; 
    }
    tbody,thead, tfoot,th,td{
        margin: 0;
        padding: 0;
    }

    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th,td{
        white-space: normal;
        padding: 6px;
        border: 1px solid #ccc; 
        text-align: left; 
        display: table-cell;
        vertical-align: inherit;
    }
    th { 
        background: #333; 
        color: white; 
        font-weight: bold;
        white-space: nowrap;
    }
    tfoot{
        td{
            text-align: center;                
        }
    }
}

.footer{
    margin-bottom: 20px;
}