.None 
{
	line-height:10px;
	text-align:left;
	text-decoration:none;
	color:black;
	font-weight:normal;
}

.Default 
{
	line-height:10px;
	text-align:left;
	text-decoration:none;
	color:black;
	font-weight:normal;
}

.Bold
{
	line-height:10px;
	text-align:left;
	text-decoration:none;
	color:black;
	font-weight:bold;
}

.Warning
{
	line-height:10px;
	text-align:left;
	text-decoration:none;
	color:red;
	font-weight:normal;
}

.IconError
{
	background:url(../images/property/error.gif) no-repeat;
	background-color:white;
	display:block;
	height:36px;
	line-height:36px;
	padding-left:32px;
	vertical-align:center;
}

.IconWarning
{
	background:url(../images/property/Warning.gif) no-repeat;
	background-color:white;
	display:block;
	height:36px;
	line-height:36px;
	padding-left:32px;
	vertical-align:center;
}
