
	
	.main_menu{
		background-color:#428BCA;
	}
	
	.nav_main > li:hover{
		background-color: #2D6CA2;
	}
	
	.nav_main > li.open{
		background-color: #2D6CA2;
	}
	
	.sub_menu_title{
		border-bottom: 1px solid #428BCA;
		color: #428BCA !important;
	}
	
	.sub_menu_link:hover{
		background:#428BCA;
	}
	
	.sub_menu_link_span{
		color:#428BCA;
	}