tr.OgaListData1:hover{
	background-color: #edf1f7;
	color: #000000;
	width:100%;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom:1px solid #D3D3D3;
	height: 20px;
}
tr.OgaListData2:hover{
	background-color: #edf1f7;
	color: #000000;
	width:100%;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom:1px solid #D3D3D3;
	height: 20px;
}