
	html {
		height: 100%;
	}
	
	body {
		height: 100%;
		margin: 0;
		padding: 0;
}
	
	.RightArea {
		/* float: left; */
		/* margin-top:0px; */
		/* height: 100%; */
		/* width:100%; */
	
		/* position: fixed; */
}
	
	.LogoArea{
		
		padding: 5px 10px;

	
		margin-bottom: 5px;
}
	
	.LogoImg{
		-moz-border-radius:10px 10px 10px 10px;
		-webkit-border-radius:10px 10px 10px 10px;
		border-radius:10px 10px 10px 10px;
	
		/* width: 182px; */
}
	
	
	.div_menu_user{
		/* margin-left:-1px; */
		/* border-right:  1px solid #ddd; */
		/* min-height:100%; */
		/* background: white; */
		
	}
	
	.div_menu_first{
		
		border-top:  1px solid #ddd;
		
	}
		
	.div_menu{
		/* height: 37px; */
		line-height: 20px;
		
		padding: 7px 0px;
		padding-left: 10px;
		/* vertical-align: middle; */
		
		border-bottom:  1px solid #ddd;
		font-weight: normal;

		/* overflow: hidden; */
		-moz-border-radius:2px 2px 0px 0px;
		-webkit-border-radius:2px 2px 0px 0px;
		border-radius:2px 2px 0px 0px;
	}
	

	
	.div_menu:hover{
		color:#FFFFFF;
		cursor:pointer;
	}
	.div_sub_menu:hover{
		cursor:pointer;
		color:#FFFFFF;
	}
	
	.div_sub_menu_container{
		
		border-bottom:  1px solid #ddd;
		font-weight: normal;
		padding-top:5px;
		padding-bottom:5px;
		

	}
	
	.div_sub_menu{
		padding-left: 20px;		
		height: 20px;
		line-height:20px;
		font-weight: normal;
		vertical-align: middle;
	}
	
	.more_img{
		float:right;
		margin-top: 5px;
		 margin-right: 5px;
	}

