BODY		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}

P		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}

TD		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}
TH		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}

H1		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px;}
H2		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;}
H3		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}
H4		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}

 