/*
Luxembourg Online S.A
Quentin Fonck
18 mai 2015
*/

@import url(http://fonts.googleapis.com/css?family=Nunito:700);
.main_menu{
    width:100%;
}
.nav_container{
    margin: 0px;
    position : relative;
}
body{
    margin:0;
    line-height: 1.2;
    overflow-x: hidden;
}
.pull_left{
    float: left;
}
.nav_main{
    padding-left:0px;
    margin:0px;
}
.nav_main:before,
.nav_main:after {
    content:"";
    display:table;
}
.nav_main:after {
    clear:both;
}
.nav_main{
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.nav_main > li {
    margin-top: auto;
    float:left;
    display: inline-block;
    height: 35px;
    line-height:25px;
    /* transition: all .4s ease-in-out; */
    border-left: 1px solid #FFF;

}
@media (max-width: 679px){
    .sub_menu_content>.sub_menu_row{
        display: block;
    }
    .sub_menu_content>.sub_menu_row>ul{
        display: block;
        width: 100%;
    }
}
@media (min-width: 520px){
    .nav_main > li{
        width: 20%;
    }
    .nav_main > li.icon{
        width: 9%;
    }
}
#espace{
    display: none;
}
@media(min-width:520px) and (max-width: 991px){
    #espace{
        display: inline-block;
    }
}
@media (max-width: 519px){
    .nav_main > li{
        width: 33.33333%;
    }
    .nav_main > li.icon{
        width: 11.111111%;
    }
}
@media(min-width: 992px){
    .nav_main > li{
        width: 12.5%;
    }
    .nav_main > li.icon{
        width: 4%;
    }
}
@media (max-width: 991px){
    .sub_menu_content>.sub_menu_row>ul>li{
        height: 35px;
    }
    .nav_main > li {
        height: 45px;
    }
    .sub_menu_content>.sub_menu_row>ul>li>span{
        margin-right: 10px;
    }
    .nav_main>li{
        border-bottom: 1px solid #FFF;
    }
}
.nav_main > li > a {
    display: block;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    height: 100%;
}
.nav_main > li > a > div {
    padding: 5px 10px !important;
    height: 100%;
    position: relative;
}
.nav_main > li > a > div>span{
    position: absolute;
    right: 0px;
    top: 45%;
    margin-right: 10px;
}
.nav_main > li > a > div>span.fa{
    top: 40%;
    /* margin-right: 36px; */
}
@media (max-width: 991px){
    .nav_main > li > a > div{
        font-size: 14px;

    }
}
.home > a > div{
    border-left: 0px solid #fff!important;
}
.no_list_style {
    list-style: outside none none;
}
ol, ul {
    margin-bottom: 8px;
    margin-top: 0;
}
.caret {
    border-left: 0.35em solid transparent;
    border-right: 0.35em solid transparent;
    border-top: 0.45em solid;
}
.open > .dropdown_menu {
    display: block!important;
}
.dropdown_menu{
    left: auto;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    font-size: 14px;
    list-style: outside none none;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
    margin: 0 0 0 -1px !important;
}
@media (max-width: 991px){
    .nav_main>.dropdown>.dropdown_menu, .footer .dropdown_menu{
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
.dropdown_wrapper{
    text-align: right;
    right: 0px;
}
.dropdown_cols_1 {
    width: 220px;
}
.dropdown_cols_2 {
    width: 440px;
}
.dropdown_cols_3 {
    width: 660px;
}
.sub_menu_content{
    padding: 10px 30px;
}
.sub_menu_row {
    margin-left: -15px;
    margin-right: -15px;

}
.sub_menu_title, .sub_menu_drop_title{
    white-space: nowrap;
    border-radius: 0;
    font-weight: 700;
    margin-bottom: 7px;
    margin-left: 0 !important;
    padding: 5px !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sub_menu_main_title{
    white-space: nowrap;
    border-radius: 0;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7px;
    margin-left: 0 !important;
    padding: 5px !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
li.dropdown .sub_menu_column{
    width: 100%;
    padding:0;
    display: inline-block;
    vertical-align:top;
}

.sub_menu_link{
    padding: 5px 10px 5px 10px;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 9pt;
}

.sub_menu_link:hover{
    color: #fff;
    cursor:pointer;
}
.sub_menu_link:hover .sub_menu_link_span{
    color: #fff;
}

.sub_menu_link_span{
    border-bottom: 0.35em solid transparent;
    border-left: 0.45em solid;
    border-top: 0.35em solid transparent;
    display: inline-block;
    height: 0;
    margin-right: 5px;
    vertical-align: middle;
    width: 0;
    /* font-size: 10pt; */
}

.main_menu_link{
    color: white!important;
}

.page-menu>ul{
    margin-bottom: 0;
    margin-right: -1%;
}
.page-menu>ul>li{
    margin: auto;
}
.sub_menu_link>a{
    color: inherit;
    text-decoration: none;
}

span.tooltip, span.tooltip1{
    height: 17px;
    width: 17px;
    display: inline-block;
    margin-left: 10px;
}
span.tooltip>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "rockwell", sans-serif;
    font-size: 10pt;
    font-weight: 600;
    background-image: linear-gradient(#FFF,#F4F4F4);
    color: rgb(66, 139, 202);
    border-radius: 4px;
    border: 1px solid #C7C5C5;
}

span.tooltip>button:focus{
    outline:0;
    background-color: #FFFFFF !important; 
    border: 1px solid rgb(66, 139, 202);
}

span.tooltip1{
    height: 17px;
    width: 17px;
    position: relative;
    bottom: 2px;
    display: inline-block;
    margin-left: 10px;
}
span.tooltip1>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 1px;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nunito',sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: rgb(66, 139, 202);
    background-image: linear-gradient(#FFF,#F7F7FF);
    border-radius: 50%;
    border: 1.5px solid rgb(66, 139, 202);     
}

span.tooltip1>button:focus{
    outline:0;
}

span.tooltip2{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 0px;
}
span.tooltip2>button{
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 8pt;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    background-image: linear-gradient(#FFF,#F4F4F4);
    color: #C2C2C2;
    border-radius: 2px;
    border: 1px solid #C7C5C5;
}

span.tooltip2>button:focus{
    outline:0;
    color: #428BCA;
    background-color: #FFFFFF;
    border: 1px solid #428BCA;
}

.popupTips{
    position: absolute;
    display: inline-block;
    z-index: 10;
    background-color: white;
    width: 300px;
    min-height: 50px;
    border: 1px solid #C7C5C5;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px slategrey;
    padding: 15px;
    display: none;
}
.popupTips>*:first-child{
    margin-top: 0px;
}
.popupTips>*:last-child{
    margin-bottom: 0px;
}